
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #57b3f0, #40e7f3, #67ffff);
  
}



.products-highlight {
    margin: 40px 0;
    padding: 20px;
    background-color: #f8f8f8;
}

.products-highlight h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}


.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 0 20px;
}


.product {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
}

.product img {
    width: 100%;
    border-radius: 10px;
    max-height: 280px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #888;
    margin-bottom: 15px;
}

.product .price {
    font-size: 18px;
    color: #00aaff;
    font-weight: bold;
}

.category {
    display: inline-block;
    text-align: center;
    padding: 8px 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    font-size: 0.9em;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.category:hover {
    transform: scale(1.05);
}

.hydration {
    background-color: #e0f7fa;
    color: #00acc1;
}

.antiaging {
    background-color: #fff3e0;
    color: #ff9800;
}

.antiacne {
    background-color: #e8f5e9;
    color: #4caf50;
}

.product-actions {
    margin-top: 10px;
}

.cart-btn {
    background-color: #00aaff; 
    color: white; 
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    text-transform: uppercase; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%; 
}


.cart-btn:hover {
    background-color: #0088cc; 
    transform: scale(1.05); 
}


.cart-btn:active {
    transform: scale(0.98); 
}


.cart-btn:disabled {
    background-color: #cccccc; 
    cursor: not-allowed;
}